.video-box {
    display: flex;
    justify-content: center;
}
.video-wrapper {
    width: 550px;
    height: 350px;
}
.home_img_wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.home-wrapper .main_wrapper {
}

.home_img_wrapper img {
    width: 55%;
}

.home_txt_wrapper .main_title {
    font-size: 80px;
    text-align: left;
    color: white;
    font-weight: bolder;
    margin-top: -20px;
}

.home_txt_wrapper .sub_txt_wrapper {
    text-align: left;
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-top: 30px;
}
.sub_txt_wrapper .sub_title {
    margin-top: 5px;
}

.bridge-1 {
    padding: 30px 0px;
    background-color: rgb(168, 52, 248);
}
.bridge-1 div {
    text-align: center;
    color: white;
    font-size: 18px;
}
.mid-img {
    display: block;
}

.process-header {
    color: white;
}
.process {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
}
.process span {
    color: white;
}
.process .circle-div {
    display: flex;
    align-items: center;
    width: 130px;
    height: 130px;
    text-align: center;
    justify-content: center;
    border-radius: 100%;
}
.white_circle {
    background-color: white;
    color: rgb(168, 52, 248);
    font-weight: bold;
}
.purple_circle {
    background-color: rgb(168, 52, 248);
    color: white;
    font-weight: bold;
}
.pc-only {
    display: flex;
}
.mb-only {
    display: none;
}

@media only screen and (max-width: 991px) {
}

@media only screen and (max-width: 767px) {
    .pc-only {
        display: none;
    }
    .mb-only {
        display: flex;
        justify-content: center;
    }
    .process-wrapper .circle-div {
        margin-bottom: 25px;
        margin-top: 25px;
    }
    .process .circle-div {
        width: 120px;
        height: 120px;
    }
    .main_wrapper {
        padding-left: 5%;
    }
    .home_txt_wrapper .main_title {
        font-size: 50px;
        margin-top: 0px;
    }
    .home_img_wrapper img {
    }

    .home_txt_wrapper .main_title {
    }

    .home_txt_wrapper .sub_txt_wrapper {
    }
    .sub_txt_wrapper .sub_title {
    }

    .bridge-1 {
    }
    .bridge-1 div {
    }
    .mid-img {
        display: none;
    }
    .custom-padding {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .custom2-padding {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}
.footer-copyright span {
    color: rgb(168, 52, 248);
    font-weight: bold;
}

@media only screen and (max-width: 480px) {
    .main_wrapper {
        padding-left: 5%;
    }
    .home_txt_wrapper .main_title {
        font-size: 30px;
        margin-top: 0px;
    }
    .home_img_wrapper img {
    }

    .home_txt_wrapper .main_title {
    }

    .home_txt_wrapper .sub_txt_wrapper {
    }
    .sub_txt_wrapper .sub_title {
        font-size: 20px;
    }

    .bridge-1 {
    }
    .bridge-1 div {
        font-size: 15px;
    }
    .mid-img {
        display: none;
    }
    .custom-padding {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .custom2-padding {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}
